
table {	
	text-align: left;
	font-size: 14px;
	margin: auto;
	width: 100%;
}

table tr td {
	text-align: center;	
	font-size: 13px;
	border: 1px solid #F5F5F5;
	padding: 2px;
}

table tr:hover {
	background: #ffeeba;
}
thead{
	background: #E9ECEF;
	border-bottom: solid 2px #CFCFCF;
	padding: 6px;
}

table th {
	text-align: center;
	padding: 6px;
}










